
html, body {
    padding: 0;
    margin: 0 auto;
    background-color: #000000;
    height: 100%;
    text-align: center;
}

#searchdiv {
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: 20%;

    font-family: monospace;
}

#searchbox {
    font-family: monospace;
    width: 600px;
    height: 60px;
    background-color: #000000;
    border: 0px solid #33FF00;
    color: #33FF00;
    font-size: 34;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

#output {
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: 25%;
    padding-bottom: 20px;
    width: 800px;

    /*border: 1px solid #33FF00;*/
    font-family: monospace;
    color: #33FF00;
    text-align: left;
}
